---
import Layout from '../layouts/Layout.astro';
import HelloWorld from '../components/HelloWorld';

---

<Layout
  title="Привет, мир! | Моё Astro приложение"
  description="Простое приложение на Astro с использованием React компонентов"
>
  <main class="">
    <h1 class="">
      Hello world!
    </h1>
    <HelloWorld client:load />
  </main>
</Layout>

